<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="login" method="post">
        <label>Email:</label>
        <input type="email" name="email" value="test@sunbasedata.com"><br><br>
        <label>Password:</label>
        <input type="password" name="password" value="Test@123"><br><br>
        <input type="submit" value="Login">
        
        <!--form action="http://localhost:8081/java_web/login" method="get">
        <label>Num 1:</label>
        <input type="text" name="num1" ><br><br>
        <label>NUm 2:</label>
        <input type="text" name="num2" ><br><br>
        <input type="submit" value="Login"-->
    </form>
</body>
</html>